<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hello, world!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
    Hello, world! This is a test!<br>
    <hr>
    Result from RPC Server: {% if result %}{{ result }}{% else %}No result. Check if server is up and running on port 5000{% endif %}
  </body>
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</html>
